html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width:640px)
{
  .textoIndex{
    font-size: 10px;
  line-height: 10px;
  
  }
  .BannerIndex{
    max-width: 100%;
  height: auto;
  }
  
  .butRegistro{
    font-size: 5px;
    line-height: 10px;
  }
  .butIniciarSesion{
    font-size: 10px;
    line-height: 15px;
  }
}
.IMG1{
  width:20%;
}
.Footer{
  position: absolute;
  bottom: 0;
  width:80%;
  
}
.BannerIndex{
  width: 80%;
  display: flex;
align-items: center;

}

.IconoUser{
  height: auto; 
    width: auto; 
  
    object-fit: scale-down;

}

.progress-bar1{
  width: 50%;
}

.Footer3y4{
  position:absolute;
  bottom: 0;
  width:100%;

}
.progress-bar2{
  width: 100%;
}

.venta{
  text-align: center;
}

.Edit{
  text-align: center;
}

